#Dependencies
/node_modules
/db/migrations

# Local env files
.env*.local
.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/config.yml


# builds
dist